*{
    font-family: 'Kanit', sans-serif;
}

header{
    font-size: xx-large;
    font-weight: bold;
    background-image: linear-gradient(green, lightseagreen);
}

h3, button{
    font-size: x-large;
    font-weight: bold;
    background-color: lightblue;
}
h4{
    font-size: large;
    font-style: italic; 
    font-weight: bold;  
}
h5, h6{
    font-size: large; 
    margin: 10px;

}
li{
    margin-top: 5px;
}

image{
    float:right;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }

p{
    color: black;
    width: auto;;
    font-weight: bold; 
}

.bloqueDerecha{
    float:  right;
}

.bloqueIzquierda{
    float:  left;
}

.recuadroSeccion{
    border-style: double;
    padding: 10px;
}

footer{
    background-image: linear-gradient(green, lightseagreen);
}